
@charset "UTF-8";

.container-fluid{background:#fffbf2; 
				 min-width: 1250px;
				 padding-top:80px;
				 padding-bottom:25%;
				font-family: 'MinSans-Regular'; font-size:20px}
				
					
#honey_title{background:#f9ae98;
		width: 50%; height:50px;
		margin-left:25%;
		margin-block-end:0;
		text-align:center;
		text-decoration:none;
		font-size:25px; font-weight:700;
		line-height:50px; border-radius:5px;
		}	
		
		
#honey_up_del{width: 190px; 
			margin-left:74%; 
			margin-top:70px;
			margin-bottom: 10px;}

		
#content_title{width: 70%;
				margin-top:15px;
				margin-left:15%;
				height:60px;}
#honey_content_title_{width:140px; text-align: center; font-size:20px; font-weight:550; }

#honey_content_title{margin:0; 
					padding-top:12px;
					font-size:20px; font-weight:100;}

	
#honey_content_text{background:white;
					width: 70%;
					margin-left:15%;
					padding : 40px;
					min-height: 500px;
					border: 1px solid lightgray; border-radius:10px; 
					font-size:20px; 
					}

	
#honey_table{background:white;
				width: 70%;
				margin-left:15%;		
				padding: 20px;			
				border: 1px solid lightgray; 	border-radius:10px;
				font-weight:100;}
					
	
[id*="button"]{background:#b3b3b3; color:white; border:none; 
				width:80px;
				height:40px;
				border-radius:10px;
				text-decoration:none; 
				font-size:20px
				}
				
#go_list_button{background:#f24822;
				margin-top:30px;}				

#updateButton, #deleteButton{
	background:#b3b3b3; color:white; border:none; 
				width:80px;
				height:40px;
				border-radius:10px;
				text-decoration:none; 
				font-size:20px
	
}


#updateButton:focus{
	outline: none;
	box-shadow: none;
}

#go_list_button:focus, #go_list_button:active {
	outline: none;
    box-shadow: none;
} 


#deleteButton:hover {
	font-weight: bold;
	background-color: #a5250a;
}

#deleteButton:focus, ##deleteButton:active{
	outline: none;
    box-shadow: none;
}

#updateButton:hover {
	font-weight: bold;
	background-color: #a5250a;
}

#updateButton:focus, #updateButton:active{
	outline: none;
    box-shadow: none;
}
	
#detailForm{
margin-top: 5%;   
}   


#go_list_button:focus, #go_list_button:active {
    outline: none;
    box-shadow: none; 
}

#go_list_button:hover {
   font-weight: 600;
   background-color: #a5250a;
}


